<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Rua</th>
      <th>Numero</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.nome %></td>
        <td><%= cliente.telefone %></td>
        <td><%= cliente.rua %></td>
        <td><%= cliente.numero %></td>
        <td><%= cliente.bairro %></td>
        <td><%= cliente.cidade %></td>
        <td><%= link_to 'Visualizar', cliente, id: "v-#{cliente.cpf}" %></td>
        <td><%= link_to 'Alterar', edit_cliente_path(cliente), id: "e-#{cliente.cpf}" %></td>
        <td><%= link_to 'Deletar', cliente, method: :delete, id: "d-#{cliente.cpf}"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_cliente_path %>
