<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id, id: :pedido_usuario_id %>
  </div>

  <div class="field">
    <%= form.label :produto_id %>
    <%= form.text_field :produto_id, id: :pedido_produto_id %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, id: :pedido_quantidade %>
  </div>

  <div class="field">
    <%= form.label :valorTotal %>
    <%= form.text_field :valorTotal, id: :pedido_valorTotal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
