<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.select(:usuario_id) do %>
      <% @usuarios.each do |u| %>
        <%= content_tag(:option, u.nome, value: u.id) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :produtos_id %>
    <%= form.select(:produtos_id) do %>
      <% @produtos.each do |p| %>
        <%= content_tag(:option, p.nome, value: p.id) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, id: :pedido_quantidade %>
  </div>

  <div class="field">
    <%= form.label :valorTotal %>
    <%= form.text_field :valorTotal, id: :pedido_valorTotal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
